@import "../variables";

.pagination {
  display: flex;
  justify-content: center;
  user-select: none;

  &__item {
    height: 1.5rem;
    width: 2rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: $color-transition-base;

    &:hover,
    &--active {
      color: $color-primary;
    }
  }
}
