@import "./_variables";

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding-bottom: 15rem;
  }

  &__info {
    min-width: 30rem;
  }

  &__title {
    font-size: 6rem;
    color: $color-primary;
  }

  &__message {
    color: $color-text-secondary;
    border-left: 0.2rem solid $border-color-lighter;
    margin: 1rem 0;
    padding: 0.25rem 0 0.25rem 1rem;
  }

  &__back-to-home {
    font-weight: 500;
    color: $color-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
