$animationMode: 6s ease infinite;

.ghost {
  width: 10rem;
  height: 12.5rem;
  margin: 3rem 5rem;

  &__body {
    position: relative;
    width: 160px;
    height: 200px;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    background-color: #f0efda;
    animation: ghost-body-float $animationMode;

    @keyframes ghost-body-float {
      0%,
      100% {
        top: 0px;
      }

      40% {
        top: -40px;
      }
    }
  }

  &__face {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 67px;
    left: 37px;
    width: 72px;
    height: 41px;
  }

  &__eye {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #272b24;

    &--left {
      margin-right: 32px;
    }
  }

  &__smile {
    margin-top: 26px;
    width: 32px;
    height: 16px;
    margin-left: 20px;
    border-bottom-left-radius: 16px 12px;
    border-bottom-right-radius: 16px 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #272b24;
  }

  &__rosy {
    position: absolute;
    top: 28px;
    width: 22px;
    height: 8px;
    border-radius: 100%;
    background-color: #ffaa9e;

    &--left {
      left: -6px;
      transform: rotate(-8deg);
    }

    &--right {
      right: -6px;
      transform: rotate(8deg);
    }
  }

  &__arm {
    position: absolute;
    top: 136px;
    width: 60px;
    height: 40px;
    background-color: #f0efda;

    &--left {
      left: -4px;
      border-radius: 60% 100%;
      animation: ghost-arms-left $animationMode;

      @keyframes ghost-arms-left {
        0%,
        100% {
          transform: translate(-50%, -50%) rotate(50deg);
        }

        40% {
          transform: translate(-50%, -50%) rotate(40deg);
        }
      }
    }

    &--right {
      right: -65px;
      border-radius: 100% 60%;
      animation: ghost-arms-right $animationMode;

      @keyframes ghost-arms-right {
        0%,
        100% {
          transform: translate(-50%, -50%) rotate(-50deg);
        }

        40% {
          transform: translate(-50%, -50%) rotate(-40deg);
        }
      }
    }
  }

  &__bottom {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0px;
    right: -1px;

    & > div {
      flex-grow: 1;
      position: relative;
      top: -14px;
      height: 28px;
      border-radius: 100%;
      background-color: #f0efda;

      &:nth-child(2n) {
        top: -10px;
        margin: 0 -2px;
        border-top: 10px solid #f0efda;
        background: transparent;
      }
    }
  }

  &__shadow {
    margin: 40px 50%;
    width: 200px;
    height: 12px;
    border-radius: 100%;
    background-color: #191d18;
    animation: ghost-shadow $animationMode;

    @keyframes ghost-shadow {
      0%,
      100% {
        transform: translateX(-50%) scale(1);
      }

      40% {
        transform: translateX(-50%) scale(0.5);
      }
    }
  }
}
