:root {
  --main-width: 980px;
  --bg-color: #f5f7fa;
  --header-height: 30rem; /* Only support `rem` now */
}

html,
body {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #999;
    outline: 2px solid #e5e7eb;
    outline-offset: -2px;
    border: 2px solid #fff;
    border-radius: 4px;

    &:hover {
      height: 50px;
      background-color: #9f9f9f;
      border-radius: 4px;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #e5e7eb;
    border-radius: 0;
  }
}
