name: GitHub Pages Deploy
on:
  push:
    branches:
      - main
jobs:
  # nsznsznjsz/nsznsznjsz.github.io
  blog-build-and-deploy:
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: "14"
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build packages
        run: yarn build

      - name: Build blog site
        env:
          BASE_PATH: /
        run: yarn blog:build

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2.2.0
        with:
          repo: nsznsznjsz/nsznsznjsz.github.io
          target_branch: main
          build_dir: posts/.vuepress/dist
        env:
          GH_PAT: ${{ secrets.API_TOKEN_GITHUB }}
