@import "../_variables";

.layout {
  z-index: $index-normal;
  background: $background-color-light;

  &__navbar {
    z-index: $index-top;
    overflow: hidden;
  }

  &__header {
    height: $header-height;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    min-height: 70vh;
  }

  &__page {
    max-width: 980px;
    margin: 0 1rem;
  }

  &__sidebar,
  &__catalog {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__sidebar {
    align-items: flex-end;
  }

  &__catalog {
    align-items: flex-start;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 2rem 1rem;

  cursor: default;
  color: $color-text-secondary;

  a {
    font-weight: 400;
    color: $color-text-secondary;
    text-decoration: underline;
  }
}
