@import "../variables";

$color-title: $color-white;
$color-meta: $color-text-secondary;
$arrow-size: 0.3rem;
$index: $index-normal + 100;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  background: $background-color-dark;
  overflow: hidden;
  position: relative;

  &__title {
    color: $color-title;
    font-size: 5rem;
    font-weight: $font-weight-primary;
    z-index: $index;

    &--primary {
      font-family: "Kaushan Script", Monda, "PingFang SC", "Microsoft YaHei",
        sans-serif;
    }
  }

  &__description {
    color: $color-title;
    font-size: 2rem;
    font-weight: $font-weight-secondary;
    z-index: $index;
    margin-top: 0;
  }

  &__meta {
    display: flex;
    z-index: $index;
  }

  &__meta-item {
    color: $color-meta;
    padding: 0 1rem;
    margin: 0.5rem 0;
    z-index: $index;

    &:not(:last-child) {
      border-right: $color-meta solid 1px;
    }
  }

  &__categories {
    &:not(:last-child) {
      padding-right: 0.5rem;

      &::after {
        content: ",";
      }
    }
  }

  &__category {
    text-decoration: underline;
    color: $color-meta;
    transition: $all-transition;
    z-index: $index;

    &:hover {
      color: $color-primary;
    }

    &:not(:last-child) {
      padding-right: 0.1rem;

      &::after {
        box-sizing: border-box;
        display: inline-block;
        width: $arrow-size;
        height: $arrow-size;
        content: "";

        margin: 2px;
        border: 1px solid $color-meta;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(45deg) scaleY(1);
        transform-origin: center;
      }
    }
  }

  &__background {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
