@import "../_variables";

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;

  box-sizing: border-box;
  height: $navbar-height;
  width: 100%;
  z-index: $index-top;
  overflow: hidden;

  transition: $all-transition;

  &--hide:not(:hover) {
    top: -$navbar-height;
    box-shadow: none;
  }

  &--opaque {
    background: rgba($background-color-base, 0.5);
    box-shadow: $box-shadow-base;

    .navbar__link a {
      color: $color-primary-light-5;

      &:hover,
      &--active {
        color: $color-primary;
      }
    }
  }

  &__list {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    margin: 0;

    list-style: none;
  }

  &__link {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 0.5rem 1rem;
    min-width: 4rem;

    transition: $border-transition-base;

    a {
      color: $color-white;
      transition: $color-transition-base;
    }

    &:hover,
    &--active {
      color: $color-primary;

      a {
        color: $color-primary;
        transition: $color-transition-base;
      }
    }
  }
}
